.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--light-text-color);
  z-index: 1;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    opacity: 1;
    pointer-events: auto;
    overflow: hidden;
    overflow-y: scroll;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu.is-open {
  @media screen and (max-width: 767px) {
    overflow: hidden;
  }
}
.mobile-navigation__list {
  // margin-bottom: 302px;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-navigation__item {
  margin-bottom: 32px;
}
.link__mobile {
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color 250ms var(--cubic-bezier);
}
.link__mobile:hover,
.link__mobile:focus {
  color: var(--accent-color);
}

.mobile-links__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 0;
}
.link__call {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--accent-color);
}
.link__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--secondary-text-color);
}

.mobile-menu__socials {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -10px;
}
.mobile-socials__item {
  margin-left: 10px;
  margin-top: 10px;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
.mobile-socials__link {
  text-decoration: none;
  color: var(--accent-color);
}
.mobile-socials__item:not(:last-child)::after {
  content: "";

  display: inline-block;

  width: 1px;
  top: 0;
  left: 0;
  height: 70%;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.mobile-menu__button {
  position: absolute;
  padding: 0;
  top: 20px;
  z-index: 2;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: fill 250ms var(--cubic-bezier);

  &.is-open {
    position: fixed;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu__button:hover,
.mobile-menu__button:focus {
  fill: var(--accent-color);
}
.menu__button-close {
  display: none;
}

.mobile-menu__button.is-open .menu__button-menu {
  display: none;
}
.mobile-menu__button.is-open .menu__button-close {
  display: block;
}
