.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.portfolio__list:not(:last-child) {
  margin-right: 8px;
}
.portfolio__container {
  position: relative;
  overflow: hidden;
}
